h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000a38;
}

.hola {        
    text-align: center;
    background: #E9F5EE;
    margin: auto;
}

header {
    background-color: #379944;
    color: white;
    border: 1px solid black;
    text-align: center;
}

header, nav, aside, h3, section, h2, p {
    display: block;
}

.menu {
    border: 1px solid black;
    background-color: #F1E7D0;
}

nav {
    font-size: 27px;
}

nav a {
    margin: 0 15px;
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #2E7D32;
}

footer {
    background-color: #333333;
    text-align: center;   
    color: white;             
    padding: 20px;
    border: 1px solid black;
}

footer p {
    margin: 0;  
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    background: white;
}

th, td {
    border: 1px solid #2E7D32;
    padding: 7px;
    text-align: center;
}

th {
    background-color: #F1E7D0;
    color: #000000;
}

section p,
aside p {
    font-size: 27px;
    line-height: 1.6;
    color: #222;
    text-align: center;
}

.btn-registrar {
    background-color: #2E7D32;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    border-radius: 6px;
}

.btn-registrar:hover {
    background-color: #6BCB77;
}
